<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colored</title>
    <link href="./../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
        <!-- Left logo -->
        <img src="./../static/images/pup-logo.png" alt="sample" />
        
        <!-- Center text -->
        <div class="center-text">INSTAPRINT</div>
        
        <!-- Right logo -->
        <img src="./../static/images/cpe-logo.png" alt="sample" />
    </header>

    <main>
      <div class="row">
        <div class="column left" style="background-color:#aaa;">
          <h2>Column 1</h2>
          <p>Some text..</p>
          <div class="button-container">
            <button id="exitButton" class="action-button">Exit</button>
            <button id="continueButton" class="action-button">Continue</button>
          </div>
        </div>
        <div class="column right" style="background-color:#bbb;">
          <h2>Colored Pages Detected</h2>
          <p>Some text..</p>
        </div>
      </div>
    </main>

    <script src="./../static/js/main.js"></script>
  </body>
</html>
