<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="./../static/css/dashboard.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <leftmenu class="menu">
            <!--Account-->
            <div class="account">
                <i class="fa-solid fa-user-circle profile-icon"></i>
                <div class="account-info">
                    <p class="name">Alice Guo</p>
                    <p class="role">Admin</p>
                </div>
            </div>

            <h2>Navigation</h2>
            <ul>
                <li><i class="fa-solid fa-house"></i> <a href="#home">Dashboard</a></li>
                <li><i class="fa-solid fa-print"></i> <a href="#about">Printed Pages</a></li>
                <li><i class="fa-solid fa-upload"></i> <a href="#services">Files Upload</a></li>
                <li><i class="fa-solid fa-wallet"></i> <a href="#contact">Balance</a></li>
                <li><i class="fa-solid fa-comments"></i> <a href="#feedbacks">Feedbacks</a></li>
            </ul>
        </leftmenu>

        <rightmenu class="content">
            <h1>InstaPrint</h1>

            <div class="metrics">
                <div class="metric">
                    <p class="value">1234.56</p>
                    <p class="label">Total Sales</p>
                </div>
            </div>
            
        </rightmenu>
    </div>
</body>
</html>
