<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded File</title>
    <link href="./../static/css/main.css" rel="stylesheet">
    <link href="./../static/css/uploaded-files.css" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <!-- Left logo -->
        <img src="./../static/images/pup-logo.png" alt="sample">

        <!-- Center text -->
        <div class="center-text">INSTAPRINT</div>

        <!-- Right logo -->
        <img src="./../static/images/cpe-logo.png" alt="sample">
    </header>

    <div class="upload-file-container">
        <div class="scan-qr">
            SCAN THIS QR
            <img class="qr" src="./../static/images/sample qr.png">
            or visit the link below
            www.instaprint.com
        </div>
        <div class="uploded-file">
            UPLOADED FILES 
            <div class="file-box">
                <div class="filename">
                    <img class="file-logo" src="./../static/images/microsoftword.png">
                    filename.docx
                </div>
                <div class="filename">
                    <img class="file-logo" src="./../static/images/pdf.png">
                    filename.pdf
                </div>
            </div>
        </div>
    </div>

</body>
</html>

